/* Reset styles */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto Mono', monospace;
    background-color: #f5f5f5;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    display: flex; 
    justify-content: center;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
}

.about {
    text-align: center;
    padding: 180px 0;
    color: #fff;
    animation: fadeIn 2s;
    background-color: black;
    position: relative;
    z-index: 1;
}

.about h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.about p {
    font-size: 18px;
    margin-bottom: 20px;
    padding: 0 20px;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

section::before {
    background-image: url('pic1.jpg');
    background-size: cover;
    content: '';
    position: absolute;
    inset: 0;
    opacity: 0.4;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
