body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto Mono', monospace;
    background-image: url('pic2.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    color: #fff;
}

header {
    background-color: #111;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
}

.hero {
    text-align: center;
    padding: 150px 0;
    color: #fff;
}

.hero h1 {
    font-size: 48px;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);

}

.hero p {
    font-size: 20px;
    margin-bottom: 40px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.75);

}

.hero a {
    background-color: #444;
    opacity: 0.85;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.hero a:hover {
    background-color: #df2929;
}

.categories {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px 0;
}

.category {
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.category:hover {
    transform: translateY(-5px);
    background-color: #706766;
}

.category h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.category p {
    font-size: 16px;
    margin-bottom: 20px;
}

.category a {
    background-color: #111;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.category a:hover {
    background-color: #dd2727;
}

footer {
    background-color: #111;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
